<div class="user-page">
  <div class="header">Users
  </div>
  <div class="table">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">
          <a style="color: blue; text-decoration:underline; cursor: pointer;"
          (click)="openUserView(element.id)">
								{{ element.username }}
								</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="birth">
        <th mat-header-cell *matHeaderCellDef>Birth</th>
        <td mat-cell *matCellDef="let element">{{ element.birth }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <span
            (click)="deleteUser(element.id)"
            style="color: red;width: auto; cursor: pointer;"
            >
            Delete
        </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="content">
    <div class="view-user">
      <div class="title">User Details</div>
      <div class="user-item">UserName: {{ userRecord.username }}</div>
      <div class="user-item">Gneder: {{ userRecord.gender }}</div>
      <div class="user-item">Birth: {{ userRecord.birth }}</div>
      <div class="user-item">Phone: {{userRecord.phone }}</div>
    </div>
  
    <div class="add-user"> 
      <div style="display: flex;justify-content: space-between;margin-bottom: 5px;">
        <div class="title">User Add</div>
      <div>
        <button mat-flat-button (click)="openUserAdd()">Add</button>
      </div>
      </div>
      
      <form [formGroup]="addForm" style="display: flex; flex-direction: column;">
        <mat-form-field style="width: 500px;">
          <mat-label>UserName</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
    
        <mat-form-field style="width: 500px;">
          <mat-label>Gneder</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field style="width: 500px;">
          <mat-label>Birth</mat-label>
          <input matInput formControlName="birth">
        </mat-form-field>
    
        <mat-form-field style="width: 500px;">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </form>
      
    <div>
  </div>
  

</div>




